* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Gray-100: #f2f2f2;
  --Gray-200: #d9d9d9;
  --Gray-300: #808080;
  --Gray-400: #333;
  --Gray-500: #262626;
  --Gray-600: #1a1a1a;
  --Gray-700: #0d0d0d;

  --Blue: #4ea8de;
  --Blue-Dark: #1e6f9f;
  --Purple: #8284fa;
}

body {
  --webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;

  background-color: var(--Gray-600);
  color: var(--Gray-100);
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  border: none;
  background: none;
  font-family: "Inter", sans-serif;
}
